<div class=''>
	<h1 class=''>
		Login page
	</h1>
		<h2><%= @error %></h2>
	<%= form_with url:"/main/login" ,class:'form' do |f| %>
		<%= f.label :username ,class:'form-label' %>
		<%= f.text_field :username ,class:'form-control' %>
		<%= f.label :password ,class:'form-label' %>
		<%= f.text_field :password ,class:'form-control' %>
		<%= f.submit 'submit' ,class:'btn btn-primary m-2' %>
	<% end %>
</div>